@model List<CinemaBroadcastViewModel>
@{
    ViewData["Title"] = "Rezerva un bilet";
}
<div>
    @if (!Model.Any()) {
        <table>
            <tr>
                <td colspan="5" class="text-center">Nu a fost gasita nicio difuzare.</td>
            </tr>
        </table>
    } else {
        <table class="table table-hover thead-dark text-left" id="avaiable-broadcasts">
            <thead>
                <tr>
                    <th>Nume cinema</th>
                    <th>Locatie cinema</th>
                    <th>Pret per bilet</th>
                    <th>Data difuzarii</th>
                    <th>Locuri disponibile</th>
                    <th>Actiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var broadcast in Model) {
                    <tr data-broadcast-id="@broadcast.BroadcastId">
                        <td>@broadcast.CinemaLocationDTO.NameLocation</td>
                        <td>@broadcast.CinemaLocationDTO.AddressLocation</td>
                        <td>@broadcast.PriceDTO.Price</td>
                        <td>@broadcast.Time.ToLongDateString() la ora @broadcast.Time.ToLongTimeString()</td>
                        <td>@broadcast.NumberOfSeats</td>
                        @if (broadcast.NumberOfSeats > 0) {
                            <td id="reserve-action-td">
                                <select>
                                    @for (int i = 1; i <= broadcast.NumberOfSeats && i <= 5; i++) {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <a class="btn btn-success cursor-pointer" id="make-reservation" asp-controller="Movie" asp-action="MakeReservation" asp-route-id="@broadcast.BroadcastId">Rezerva biletele</a>
                            </td>
                        } else {
                            <td>Nu sunt locuri disponibile</td>
                        }


                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts{
    <script src="~/js/reservation.js"></script>
    <script>Reservation_Module.Init()</script>
}