@model List<UserViewModel>
@{
    ViewData["Title"] = "User management";
}
<div>
    @if (!Model.Any()) {
        <table>
            <tr>
                <td colspan="5" class="text-center">No users found.</td>
            </tr>
        </table>
    } else {
        <table class="table table-hover thead-dark text-left" id="user-table">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model) {
                    <tr data-user-id="@user.UserId">
                        <td name="userId">@user.UserId</td>
                        <td name="firstName">@user.FirstName</td>
                        <td name="lastName">@user.LastName</td>
                        <td name="email">@user.Email</td>
                        <td name="phoneNumber">@user.PhoneNumber</td>
                        <td name="roleName">@user.RoleName</td>
                        <td name="actions">
                            <a class="btn btn-success cursor-pointer" id="edit-user">Edit</a>
                            <a class="btn btn-danger cursor-pointer" id="delete-user" asp-controller="UserManagement" asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                            <a class="btn btn-primary cursor-pointer d-none text-white" id="save-changes">Save changes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts{
    <script src="~/js/user-management.js"></script>
    <script>User_Management_Module.Init();</script>
} 