@model List<UserViewModel>

<div>
    @if (!Model.Any()) {
        <table>
            <tr>
                <td colspan="5" class="text-center">No users found.</td>
            </tr>
        </table>
    } else {
        <table class="table table-hover thead-dark text-left">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model) {
                <tr data-user-id="@user.UserId">
                    <td>@user.UserId</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>