@model UserViewModel
@{
    ViewData["Title"] = "Editeaza profilul";
}
<div class="container">
    <form class="" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="EditProfile">
        <input type="text" value="@Model.UserId" name="UserId" asp-for="@Model.UserId" class="d-none">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" name="FirstName" asp-for="@Model.FirstName" placeholder="Enter First Name..." required>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="LastName" asp-for="@Model.LastName" placeholder="Enter Last Name..." required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="Email" asp-for="@Model.Email" placeholder="Enter Email..." required>
        </div>
        <div class="form-group">
            <label for="phone-number">Phone number</label>
            <input type="text" class="form-control" id="phone-number" name="PhoneNumber" asp-for="@Model.PhoneNumber" placeholder="Enter Phone Number..." required>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>